.zonelegacytel, .zonevoicemail, .zonerouting, .zonemanagement, .zonestatus{
	padding: 70px 15px 0px 20px;
	background-repeat: no-repeat;
	font-size:15px;
}
.zonelegacytel{
	background-image:url("../images/icon_phone.png");
}
.zonevoicemail{
	padding:  70px 15px 0px 15px;
}
.zonerouting{
	background-image:url("../images/icon_routing.png");
}
.zonemanagement{
	background-image:url("../images/icon_gear2.png");
}
.zonestatus{
	background-image:url("../images/icon_light.png");
}
.mainitem{
	color:#426A33;
	font-weight:bolder;
}
ul{
	list-style-type: none;
	width: 100%;
	padding: 5px 0px 16px 0px;
	margin: 0px;
}
li a{
	display: block;
	color:#000;
	padding:3px 0px 3px 14px;
	background-image:url("../images/icon_dot.png");
	background-repeat: no-repeat;
	text-decoration: none;
}
li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 100%;
	border-radius: 5px;
}


