#login_box{
	height: 320px;
	width: 700px;
	margin: auto;
	background-image: url("../images/login_mainbg.gif");
	background-repeat: no-repeat;
	margin-top:70px;
}
#login_pwsetting_note{
	height: 135px;
	width: 510px;
	margin: auto;
	background-image: url("../images/pwsetting_notebg.gif");
	background-repeat: no-repeat;
	text-align: center;
	color:#C85726;
	font-size: 18px;
}
#login_pwsetting_box{
	display: block;
	width: 340px;
	margin: auto;
}
#login_country_box{
	display: block;
	background-color: #006D9A;
	width: 480px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 15px
}
.item{
	padding: 10px 0px 5px 0px;
	color:#555555;
}
input[type=text],[type=password], select {
	width: 290px;
	padding: 10px 12px;
	font-size: 16px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
input[type=submit] {
	width: 120px;
	background-color: #27A2A2;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 20px;
	margin: 30px 0 0px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.select-item{
	height: 44px;
}
.forget_pw{
	padding-left: 15px;
}
.forget_pw a {
	color: #1C5595;
}

/*Country Setting*/
#login_country_box{
	background-color: #006D9A;
	width: 480px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 10px 15px 10px;
	line-height: 20px;
}

#areaitembox{
	width: 500px;
	margin: 10px auto;
	
}
#countryitembox{
	width: 500px;
	margin: 10px auto;
}
ul{
	list-style-type: none;
	width: 500px;
	padding: 0px;
	margin: auto;
}
li a{
	color:#000;
	padding:10px 0px;
	text-align: center;
	text-decoration: none;
	margin-bottom: -8px;
}
li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 480px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: -8px;
}

#areatitle{
	width: 500px;
	margin: auto;
	padding-top:25px;
	text-align: center;
	color: #BC5E1D;
	font-size: 22px;
	line-height: 35px;
	border-bottom: 2px solid #555;
}
#areatitle img{
	vertical-align: middle;
}
.countryitem li a{
	color:#000;
	padding:15px 0px;
	text-align: center;
	text-decoration: none;
}
.countryitem li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 480px;
	margin: auto;
	border-radius: 5px;
}