#login_country_box{
	display: block;
	background-color: #006D9A;
	width: 480px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 0px 10px 15px 10px;
	line-height: 20px;
}
input[type=text] {
	width: 450px;
	padding: 10px 12px;
	margin-top:10px;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
#areaitembox{
	display: block;
	width: 500px;
	margin: 10px auto;
	
}
#countryitembox{
	display: block;
	width: 500px;
	margin: 10px auto;
}
ul{
	list-style-type: none;
	width: 500px;
	padding: 0px;
	margin: auto;
}
li a{
	display: block;
	color:#000;
	padding:10px 0px;
	text-align: center;
	text-decoration: none;
	margin-bottom: -8px;
}
li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 480px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: -8px;
}
.fancyboxsetting{
	width: 560px;
	height: 400px;
	display: none;
	background-color: #EFEFEF;
}
#areatitle{
	width: 500px;
	margin: auto;
	padding-top:25px;
	text-align: center;
	color: #BC5E1D;
	font-size: 22px;
	line-height: 35px;
	border-bottom: 2px solid #555;
}
#areatitle img{
	vertical-align: middle;
}
.countryitem li a{
	display: block;
	color:#000;
	padding:15px 0px;
	text-align: center;
	text-decoration: none;
}
.countryitem li a:hover {
	background-color: #B2B2B2;
	padding:15px 0px;
	color: #fff;
	width: 480px;
	margin: auto;
	border-radius: 5px;
}
