@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/** RESET CSS **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, p{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
}
body {
	background-color: #EFEFEF;
	font-family:'Lato';
	font-size: 14px;
}
ul{
	list-style-type: none;
}
ul, li {
	display: block;
}
a {
	text-decoration: none;
}
#header_login{
	background-color: #006D9A;
	height: 65px;
	width: 100%;
	text-align: center;
	padding-top:70px;
}
#header_login_setting{
	height: 55px;
	width: 100%;
	text-align: center;
	padding-top:45px;
}
#header{
	height: 50px;
	width: 100%;
	padding:5px 0px;
	position:fixed;
	background-color: #EFEFEF;
	z-index:1000;
	display: inline-flex;
	border-bottom: 5px solid #006D9A;
}
#container{
	width:100%;
	top:66px;
	bottom: 25px;
	position: fixed;
	display:inline-flex;
}
#footer{
	background-color: #006D9A;
	height: 20px;
	width: 100%;
	text-align: center;
	padding-top:6px;
	position:fixed;
	bottom:0px;
	font-size: 8px;
	color: #fff;
	z-index:999;
}
#nav{
	width: 205px;
	padding: 0px 15px 0px 10px;
	overflow: auto;
}
#navicon{
	display: none;
}
#infobox{
	width: 98%;
	padding: 11px 0 30px 5px;
	/*margin-right: 10px;*/
	overflow:auto;
	background-image:url("../images/vline_bg.jpg");
}
.but_box{
	width: 95%;
	text-align: center;
	padding: 25px 0px;
	margin: auto;
}
button {
	width: 120px;
	padding: 3px 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	line-height: 34px;
	color: #fff;
	cursor: pointer;
	margin: 0px 5px;
}
button img{
	vertical-align: middle;
	width: 22px;
	margin-right: 3px;
}
.buttonok {
	background-color: #27A2A2;
}
.buttoncancel {
	background-color: #898989;
}

.header_logo, .header_home, .header_status, #nav, #spline, #infobox, .pagepanel{
	float: left;
}
input[type=text],[type=password], [type=checkbox], [type=number], [type=date], select, textarea{
	padding: 5px 6px;
	margin-right:5px; 
	font-size: 14px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
input[type=checkbox]{font-size: 20px;}
/*.inputlocked input[type=text]{background-color: #DEDDDD;}*/
input[disabled=true]
{
	background-color: :#DDDDDD;
}


.selectitem{height: 29px;}

.header_home{
	width: 95px;
	height: 25px;
	border-radius:7px;
	background-color: #006D9A;
	padding:8px 0px;
	text-align: center;
	font-size: 15px;
	color:#fff;
}
.header_status{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color:#006D9A;
}
.header_status a:link, .header_status a:visited{
	color:#006D9A;
}
.header_status a:hover{
	color:#426A33;
}

.logout{
	color: #6C6D6D;
	width: 150px;
	font-size: 14px;
}
.logout a:link {
	color: #6C6D6D;
	padding-left: 10px;
	font-size: 14px;
}

/* side menu */
.navmainitem{
	background-color:#426A33; 
	color:#fff;
	padding:8px 4px;
	border-radius: 5px; 
	width: 97%;
	border-bottom: 1px dashed #DCDDDD;
}
.navitemselect{
	background-color:#426A33; 
	color:#fff;
	padding-left:4px;
	margin-right: 10px;
	border-radius: 5px; 
	width: 98%
}
.navitem {margin-top: 10px;}
.nav2zone {margin-top: 0px;}
.navitem li{
	padding: 8px 0px 8px 5px;
	border-bottom: 1px dashed #DCDDDD;
}
.navitem li a{
	display: block;
	color:#000;
}
.navitem li a:hover{
	color:#fff;
	padding-left: 1px;
	background-color: #426A33;
	border-radius: 5px;
}
.navsubitem li{
	color:#426A33;
	border-bottom: none;
	margin-left: 5px;
	padding:5px 0px 5px 10px;
	background-image:url("../images/icon_dot.png");
	background-repeat: no-repeat;
	font-weight: bolder;
}
.navsubitem li a{
	display: block;
	font-weight: normal;
}
.navsubitem li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 98%;
	border-radius: 5px;
}
.navsubitemunlink{
	color:#9E9E9E;
	font-weight: normal;
}

.sidenav .closebtn {
	position: absolute;
	top: 17px;
	right: 0px;
	font-size: 30px;
	margin-left: 30px;
}
.sidenav {
	height: 100%;
	width:205px;
	position: fixed;
	z-index: 1;
	top: 55px;
	left:-5px;
	background-color: #EFEFEF;
	border-left: 10px solid #EFEFEF;
	border-right: 2px solid #EFEFEF;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: none;
}

/* Content block */
#infoboxtitle{
	width: 1009px;
	height: 20px;
	padding: 5px 10px;
	margin: auto;
	background-color: #426A33;
	font-size:16px;
	color:#fff;
	border-radius:5px 5px 0 0;
	border: 1px solid #426A33;
}
.infoboxtitle_left{float:left; width: 95%}
.infoboxtitle_right{float:right; width: 5%; text-align: center;}
.infoboxtitle_right img{width: 23px}
#infocontent{
	width: 1009px;
	padding: 10px;
	border-radius:0 0 5px 5px;
	margin: auto;
	background-color: #fff;
	border: 1px solid #666;
	text-align: center;
}

/* ----content area---- */
.tableinfo, .settable{
	width: 100%;
	border-collapse: collapse;
}
.tableinfo tr{
	height: 37px;
}
.tableinfo th, .tableinfo td{
	padding: 0px 5px;
}
.tableinfo thead{
	border-bottom: 1px solid #666;
	font-weight: bold;
	padding: 0px 10px;
}
.tableinfo img{width: 28px; margin-top: 4px;}
.tableitembgc{
	background-color: #DFDFDF;
}
.tablelist tr:nth-child(even){
	background-color: #f2f2f2;
}
.controw tr:hover {background-color:#C9E5E6;}
.icondot{
	display:block;
	border-radius: 50%;
	text-align: center;
	width: 28px;
	height: 28px;
	background-color: #fff;
	margin: auto;
}
.icondot i{
	color: #575757;
	font-size: 14px;
	line-height: 29px;
}

.icondot .pluscolor{
	color: #20a2a2;
	font-size: 15px;
	line-height: 27px;
}
.icon-large{
	color: #575757;
	font-size: 24px;
	padding: 0px 10px;
	float: left;
}
.iconque{
	display:block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	margin: auto;
	padding: 0px;
}
.iconque i{
	color: #575757;
	font-size: 13px;
	line-height: 22px;
}

.pagepbar{
	width: 100%;
	padding-bottom: 5px;
	display:inline-block;
}
.itempbar{
	width: 100%;
	height:38px;
	display:inline-block;
	padding: 0px;
}
.itempbar .ringgroup {
	margin: 7px 10px 4px 0px;
}
.itempbar .item_8sec,  .itempbar .item_6sec, .item_7sec{
	margin: 3px 0px;
}
.itempbar .iptext {
	padding: 0px 0px 4px 38px; 
	margin: 0px;
	height: 14px;
	color: #006D9A;
	text-align: left;
	font-size: 13px;
}
.dbtable_btn, .dbtable_text{
	height: 22px;
	padding: 2px; 
	float: left; 
	display: inline-block;
	margin-left: 5px;
}
.dbtable_btn{
	width: 20px;
	background-color: #DDDDDD;
	border: solid 1px #D0CFCF; 
}
.dbtable_text{
	line-height: 22px;
	padding: 2px 8px;
}
.dbtable_input{
	width: 50px;
	float: left;
	padding: 0px;
}
.dbtable_inputbox{
	width: 50px;
}
/* ----content area end---- */


/* ----other---- */
.text-highlight{color:#AD0709; font-weight: bold;}
.textforce-left{text-align: left;}
.textforce-center{text-align: center;}
.headitem, .item_3sec, .item_10sec, .item_8sec, .port_8sec,.item_6sec{float: left;}
.item_3sec{width: 33.33%;}
.item_10sec{width: 10%;}
.item_6sec{width: 16.66%; padding: 10px 0px;}
.item_8sec{width: 12.5%;}
.port_8sec{width: 12.5%;}
.padding-l{padding-left: 80px}
/* ----other end---- */



/* light box */
.fancyboxsetting{
	width: 750px;
	height: 500px;
	display: none;
	background-color: #EFEFEF;
}
.fancyboxsetting iframe{
	width:100%; 
	height:490px;
	border: 0px;
}
.fancyboxaler{
	width: 450px;
	height: 200px;
	display: none;
	background-color: #EFEFEF;
}
.fancyboxalerbox{
	display: block;
	width: 400px;
	margin: auto;
	text-align: center;
	font-size:15px;
	padding: 40px 0px 30px 0px;
}
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}


/* ----Pupup content Setting---- */
.settingtitle{
	position:absolute;
	top:0px;
	width: 95%;
	margin: auto;
	padding-top:20px;
	color: #BC5E1D;
	font-size: 20px;
	border-bottom: 2px solid #555;
	background-color: #EFEFEF;
}
.settingtitle img{
	vertical-align: middle;
}

.settingcont_single{
	width: 100%;
	margin-top: 90px;
}
.settingcont{
	display: block;
	width: 94%;
	margin: auto;
	margin-top: 50px;
}
.subsetting {
	border: none;
	background-color:#898989;
	margin: 0px 3px 0px 3px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #fff;
	float:left;
}

.subsetting_btn {
	border: none;
	background-color:#BC5E1D;
	margin: 0px 3px 0px 3px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #fff;
	float:left;
}

.subsetting img {vertical-align: middle; width: 16px; padding: 0px; margin: 0px;}
/*.subsetting_btn{background-color:#BC5E1D;}*/

.countrylist li{
	padding:5px 0px;
}
.settingcont-700{width: 700px;}
.settingcont-550{width: 550px;}
.settingcont-400{width: 400px;}
/* ----Pupup content Setting---- */


/* Setting */

.settingsubject{
	color: #707070;
	height: 28px;
	background-color: #E6E5E4;
}
.settingitembox{
	display: block;
	width: 750px;
	margin: auto;
	margin-top: 70px;
}
.settingitembox tr{height: 32px;}
.settingitembox tr td {
	padding: 3px;
}
.settingitembox table {
	margin: auto;
}
.settingtitle_btn{
	float: right;
	cursor: pointer;
}

.settable td{
	height: 32px;
}
.settable .icondot{
	float: left;
	margin-right: 5px;
}


/* ----tab sitting---- */
#tab-demo{ width:100%;}
#tab-demo > ul{ display:block; margin:0;list-style:none;text-align: left;}
.tab-title{list-style:none;}
#tab-demo > ul > li{ 
	display:inline-block;
	vertical-align:top;
	margin:0 15px -1px 0 ;
	border:0px solid #BCBCBC;
	border-radius: 4px 4px 0px 0px;
	height:35px; 
	line-height:35px;
	background:#ACACAC;
	padding:0 15px;
	box-sizing:border-box;
}
#tab-demo > ul > li a{ color:#fff;}
#tab-demo > ul > li.active{
	background:#576A2D ;
	color:#000;
}
#tab-demo > .tab-inner{
	clear:both;
	color:#000; 
	border-top:2px #576A2D solid;
	margin-top: 1px;
}
.tab-inner{ padding:10px 0px;}
/* ----tab sitting end---- */


/*div, span, */
.deleterowidcss div,  .deleterowidcss span{
	padding-bottom: 10px;
}



/* ----status light---- */
.ringgroup,.ringtext,.ringtext2,.squareout,.ringlight,.ringlight_head{float: left;}
.ringgroup{padding: 5px 0px 0px 4px;}
.ringlight{margin: 0px 3px 0px 1px;}
.ringlight_head{margin: 0px 3px 0px 1px;}
.ringlight img{width: 34px;  margin-top: 0px;}
.color-gre{background-color: #589615;}
.color-org{background-color:#FBA100;}
.ringtext{line-height: 13px;}
.ringtext2{line-height: 13px; margin-right: 3px}
.squareout{width: 25px; height: 22px; border:1px solid #6E6E6E;line-height: 24px;margin: 8px 10px 0px 0px;}
/* ----status light end---- */


/* ----switch bar---- */
.onoffswitch {
    position: relative; width: 82px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 18px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    font-size: 14px; color: #fff; 
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-right: 12px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 15px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 2px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 54px;
    border: 2px solid #999999; border-radius: 18px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/* ----switch bar end---- */



@media screen and (max-width: 1279px) {
	#navicon {display: block;}
	#nav{display: none}
	#infobox{width: 97%}
	.sidenav {padding-top: 10px; display: block;}
	.sidenav a {font-size: 14px;}
	.navmainitem{width: 195px;
}
  }