@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	background-color: #EFEFEF;
	font-family:'Lato';
	font-size: 14px;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
div, span,ul, li {
	display: block;
}
a {
	text-decoration: none;
}

#header_login{
	background-color: #006D9A;
	height: 65px;
	width: 100%;
	text-align: center;
	padding-top:70px;
}
#header_login_setting{
	height: 55px;
	width: 100%;
	text-align: center;
	padding-top:45px;
}
#header{
	height: 47px;
	width: 100%;
	padding:5px 0px;
	position:fixed;
	background-color: #EFEFEF;
	z-index:1000;
	display: inline-flex;
	border-bottom: 5px solid #006D9A;
}
#container{
	width:100%;
	top:62px;
	bottom: 25px;
	position: fixed;
	display:inline-flex;
}
#footer{
	background-color: #006D9A;
	height: 20px;
	width: 100%;
	text-align: center;
	padding-top:6px;
	position:fixed;
	bottom:0px;
	font-size: 8px;
	color: #fff;
	z-index:999;
}
#nav{
	width: 185px;
	margin-top: 5px;
	padding: 0px 15px 0px 15px;
	overflow: auto;
}
#navicon{
	display: none;
}

#infobox{
	width: 1080px;
	padding: 15px 0 30px 10px;
	margin-right: 10px;
	overflow:auto;
	background-image:url("../images/vline_bg.jpg");
}

.but_box{
	width: 95%;
	text-align: center;
	padding: 25px 0px;
	margin: auto;
}
button {
	width: 120px;
	padding: 3px 20px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
}
button img, .pagepanel img{
	vertical-align: middle;
}
.buttonok {
	background-color: #27A2A2;
	border: none;
	margin-right: 10px;
}
.but_box_over{
	width: 100%;
	text-align: center;
	padding: 25px 0px;
}
.buttoncancel {
	background-color: #898989;
	border: none;
}
.header_logo, .header_home, .header_status, #nav, #spline, #infobox, .pagepanel{
	float: left;
	
}
input[type=text],[type=password], [type=checkbox], [type=number], select {
	padding: 5px 6px;
	margin-right:5px; 
	font-size: 14px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
input[type=checkbox]{font-size: 20px;}
.selectitem{
	height: 30px;
}
.header_home{
	width: 95px;
	height: 30px;
	border-radius:7px;
	background-color: #006D9A;
	padding-top:8px;
	text-align: center;
	font-size: 14px;
	color:#fff;
}
.header_status{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color:#006D9A;
}
.header_status a:link{
	color:#006D9A;
}
.logout{
	color: #6C6D6D;
	width: 150px;
	font-size: 14px;
}
.logout a:link {
	color: #6C6D6D;
	padding-left: 10px;
	font-size: 14px;
}

/* side menu */
.navitemselect{
	background-color:#426A33; 
	color:#fff;
	padding-left:4px;
	margin-right: 10px;
	border-radius: 5px; 
	width: 98%
}
.navitem li{
	padding: 6px 0px 6px 5px;
	border-bottom: 1px dashed #DCDDDD;
	
}
.navitem li a{
	display: block;
	color:#000;
}
.navitem li a:hover{
	color:#fff;
	padding-left: 5px;
	background-color: #426A33;
	border-radius: 5px;
}

.navsubitem li{
	color:#426A33;
	border-bottom: none;
	margin-left: 5px;
	padding:5px 0px 5px 14px;
	background-image:url("../images/icon_dot.png");
	background-repeat: no-repeat;
	font-weight: bolder;
}
.navsubitem li a{
	display: block;
	font-weight: normal;
}
.navsubitem li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 90%;
	border-radius: 5px;
}

.sidenav .closebtn {
	position: absolute;
	top: 17px;
	right: 0px;
	font-size: 30px;
	margin-left: 30px;
}
.sidenav {
	height: 100%;
	width:200px;
	position: fixed;
	z-index: 1;
	top: 55px;
	left:-5px;
	background-color: #EFEFEF;
	border-left: 10px solid #EFEFEF;
	border-right: 2px solid #EFEFEF;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: none;
}


/* setting area */
#infoboxtitle{
	width: 1009px;
	height: 20px;
	padding: 6px 10px;
	margin: auto;
	background-color: #426A33;
	font-size:16px;
	color:#fff;
	border-radius:5px 5px 0 0;
	border: 1px solid #426A33;
	
}
#infocontent{
	width: 1009px;
	padding: 0px 10px 0px 10px;
	margin: auto;
	border-radius:0 0 5px 5px;
	background-color: #fff;
	border: 1px solid #666;
	text-align: center;
}

.infotable {
	border-collapse: collapse;
	width: 100%;
}
.infotable th td {
	padding: 1px 2px;

}
.infotable tr {
	height: 36px;

}
.infotable tr:nth-child(even) {background-color: #f2f2f2;}
.controw tr:hover {background-color:#C9E5E6;}
.pagepbar{
	width: 100%;
	display: block;
}
.pagepanel{
	float: left;
	font-size: 14px;
	color:#27A2A2;
	display: block;
	line-height: 40px;
	padding:0px 5px;
}
.pageview{
	float: right;
	font-size: 14px;
	color:#27A2A2;
	display: block;
	line-height: 40px;
	padding:0px 5px;
}



/* light box */
.fancyboxsetting{
	width: 750px;
	height: 595px;
	display: none;
	background-color: #EFEFEF;
}
.fancyboxaler{
	width: 450px;
	height: 200px;
	display: none;
	background-color: #EFEFEF;
}
.fancyboxalerbox{
	display: block;
	width: 400px;
	margin: auto;
	text-align: center;
	font-size:15px;
	padding: 40px 0px 30px 0px;
}
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}
.settable_1col{width: 414px;}
.settingtitle{
	position:absolute;
	top:0px;
	width: 95%;
	margin: auto;
	padding-top:20px;
	color: #BC5E1D;
	font-size: 20px;
	border-bottom: 2px solid #555;
	background-color: #EFEFEF;
}
.settingtitle img{
	vertical-align: middle;
}
.settingsubject{
	color: #707070;
	height: 28px;
	background-color: #E6E5E4;
}
.settingitembox{
	display: block;
	width: 750px;
	margin: auto;
	margin-top: 50px;
}
.settingitembox tr{height: 32px;}

.settingtitle_btn{
	float: right;
	cursor: pointer;
}
.settingitembox tr td {
	padding: 3px;
}
.settingitembox table {
	margin: auto;
}
/*
.fancyboxsetting .but_box{
	position: absolute;
	bottom: 0px;
}
*/
.subsetting {
	border: none;
	background-color:#898989;
	margin: 1px 5px 0px 5px;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	float:left;
}
.subsetting_btn{
	background-color:#BC5E1D;
}

.countrylist li{
	padding:4px 0px;
}


@media screen and (max-width: 1279px) {
	#navicon {display: block;}
	#nav{display: none}
	#infobox{width: 97%}
	.sidenav {padding-top: 15px; display: block;}
	.sidenav a {font-size: 14px;}
  }