@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	background-color: #EFEFEF;
	font-family:'Lato';
	font-size: 16px;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
div, span,ul, li, a {
	display: block;
}
#header_login{
	background-color: #006D9A;
	height: 65px;
	width: 100%;
	text-align: center;
	padding-top:70px;
}
#header_login_setting{
	height: 55px;
	width: 100%;
	text-align: center;
	padding-top:45px;
}
#header{
	height: 55px;
	width: 1280px;
	padding-top:20px;
	margin: auto;
}
#header_line{
	height: 5px;
	width: 100%;
	background-color: #006D9A;
}
#container{
	margin: auto;
	width:1280px;
}
#footer{
	background-color: #006D9A;
	height: 25px;
	width: 100%;
	text-align: center;
	padding-top:5px;
	position:fixed;
	bottom:0px;
	font-size: 9px;
	color: #fff;
}
#but_box{
	width: 100%;
	text-align: center;
	padding-top:20px;
}
button {
	width: 150px;
	padding: 3px 30px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 4px;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
button img{
	vertical-align: middle;
}
.buttonok {
	background-color: #27A2A2;
	border: none;
}
.buttoncancel {
	background-color: #898989;
	border: none;
}
.header_logo, .header_home, .header_status, #nav, #spline, #infobox{
	float: left;
	display: block;
}
.header_logo{
	padding:3px 20px 0 20px;
}
.header_home{
	width: 95px;
	height: 35px;
	border-radius:7px;
	background-color: #006D9A;
	padding-top:8px;
	text-align: center;
	color:#fff;
}
.header_status{
	width: 798px;
	height: 30px;
	padding-top:10px;
	text-align: center;
	font-size: 20px;
	color:#006D9A;
}
.header_status a:link{
	color:#006D9A;
}
.logout{
	color: #6C6D6D;
}
.logout a:link {
	color: #6C6D6D;
	padding-left: 10px;
}
#nav{
	width: 230px;
	height: 100%;
	padding: 10px 0px 0px 20px;
}
#spline{
	width: 10px;
	height: 600px;
	background-image:url("../images/home_vline_bg.jpg");
}
#infobox{
	width: 1020px;
	padding-top: 20px;
}
.pageitem li{
	color:#426A33;
	padding: 8px 0px;
	border-bottom: 1px dashed #DCDDDD;
}
.pageitem li a{
	display: block;
	color:#426A33;
	text-decoration: none;
}
.pageitem li a:hover{
	color:#fff;
	padding-left: 5px;
	background-color: #B2B2B2;
	width: 90%;
	border-radius: 5px;
}

.pagesubitem li{
	color:#838383;
	border-bottom: none;
	padding:5px 0px 5px 14px;
	background-image:url("../images/icon_dot.png");
	background-repeat: no-repeat;
}
.pagesubitem li a{
	display: block;
	color:#000;
	text-decoration: none;
}
.pagesubitem li a:hover {
	background-color: #B2B2B2;
	color: #fff;
	width: 90%;
	border-radius: 5px;
}

#infoboxtitle{
	width: 950px;
	height: 30px;
	padding: 10px 0px;
	margin: auto;
	background-color: #426A33;
	text-align: center;
	font-size:22px;
	font-weight: bolder;
	color:#fff;
	border-radius:15px 15px 0 0;
	border: 1px solid #426A33;
}
.infoboxtitletext{
	float: left;
	width: 93%;
}
.infoboxtitleqmark{
	float: left;
	width: 7%;
}
#infocontent{
	display: block;
	width: 950px;
	margin: auto;
	border-radius:0 0 15px 15px;
	background-color: #fff;
	border: 1px solid #666;
	text-align: center;
}

/* lightbox */
.lightbox {
	display: none;
}
.lightbox:target {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lightbox figcaption {
	width: 600px;
	position: relative;
	padding: 1.5em;
	background-color: #fff;
	border-radius:15px;
}
.lightbox .close {
	position: relative;
	display: block;
}
.lightbox .close::after {
	right: -1rem;
	top: -1rem;
	width: 2rem;
	height: 2rem;
	position: absolute;
	display: flex;
	z-index: 1;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 50%;
	color: white;
	content: "×";
	cursor: pointer;
}
.lightbox .close::before {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,.7);
	content: "";
	cursor: default;
}
