@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
body{background-color:#EFEFEF;font-family:'Lato';font-size: 14px; margin: 0; padding: 0;}
.noticeshead{position:absolute;
			top:0px;
			width: 100%;
			margin: auto;
			padding-top:5px;
			color: #BC5E1D;
			font-size: 20px;
			border-bottom: 2px solid #555;
			background-color: #EFEFEF;
		}
.noticeshead img{vertical-align: middle;}
.ys-notecont {padding: 45px 35px 5px 35px;font-size: 14px;line-height: 24px; width: 90%;}
.ys-noteitem-no {list-style-type:none; line-height: 24px;padding: 5px}
.ys-noteitem-decimal {list-style-type:decimal;list-style-position: inside; line-height: 34px;padding: 5px}